@{
    Page.Title = "Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--
Copyright 2016-2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file except in compliance with
the License. A copy of the License is located at http://aws.amazon.com/apache2.0/ or in the "license" file accompanying
this file. This file is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
or implied. See the License for the specific language governing permissions and limitations under the License.
-->

<h2>Setup</h2>
<div class="row">
    <div class="col-md-12">
        <h3>Download and Install AWS Code Deployment Assistant</h3>
        <ol>
            <li>
                Create the AWS .NET SDK folder. This will already exist if you have the .NET SDK installed. Run the below command as an administrator.
                <p>
                    if(!(Test-Path -Path “C:\Program Files (x86)\AWS SDK for .NET\bin” )){ New-Item -ItemType directory -Path “C:\Program Files (x86)\AWS SDK for .NET\bin” }
                </p>
            </li>
            <li>
                Comming Soon!
                <!--<a href="~/Download/Developer Tools.zip">Download AWS Deployment Assistant</a>.-->
            </li>
            <li>
                Unzip directly into the "C:\Program Files (x86)\AWS SDK for .NET\bin" folder. Directory structure should be "C:\Program Files (x86)\AWS Tools\EC2 Deployment Assistant\...".
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Configure CodeDeploy</h3>
        See: http://docs.aws.amazon.com/codepipeline/latest/userguide/getting-started-w.html#getting-started-w-create-deployment
        <ul>
            <li>
                Create CodeDeploy Application.
            </li>
        </ul>
        Example:<br />
        <img src="~/Images/2016-08-23 12_20_22-AWS CodeDeploy Management.png" class="img-responsive" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Configure CodePipeline</h3>
        See: http://docs.aws.amazon.com/codepipeline/latest/userguide/getting-started-w.html#getting-started-w-create-pipeline
        <ul>
            <li>
                Create CodePipeline Workflow.
            </li>
        </ul>
        Example:<br />
        <img src="~/Images/codepipeline.png" class="img-responsive" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Hook Build Output - Option 1: Visual Studio After-Build Event</h3>
        <ul>
            <li>
                if $(ConfigurationName) == Deploy  (
                "C:\Program Files (x86)\AWS Tools\EC2 Deployment Assistant\AWSDeploymentAssistant.exe" build --source "$(ProjectDir)." --bucket "my-bucket" --profile "myprofile" --zipname "MyCodePackage.zip"
                )
                <ul>
                    <li>Replace bucket name "my-bucket" with the name of your bucket.</li>
                    <li>Replace profile name "myprofile" with the name of the stored credential profile on your machine/sever. You will need an IAM user with S3 PutObject permissions and an AccessKey/SecretKey pair.</li>
                    <li>Replace zip name "MyCodePackage.zip" with the name of the zip that your code pipeline is monitoring. (Note that this cannot include a key prefix. The zip must be at the root of the bucket.)</li>
                </ul>
            </li>
        </ul>
        Example:<br />
        <img src="~/Images/vspostbuild.png" class="img-responsive" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Hook Build Output - Option 2: MSBuild Target</h3>
        Comming
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Hook Build Output - Option 3: TFS Build Template Process</h3>
        Comming
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Setup EC2 Instance CodeDeploy Agent</h3>
        See: http://docs.aws.amazon.com/codedeploy/latest/userguide/how-to-configure-existing-instance.html
        <ul>
            <li>
                Install CodeDeploy Agent.
            </li>
        </ul>
    </div>
</div>