<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.19" targetFramework="net452" />
  <package id="AWSSDK.S3" version="3.3.12.1" targetFramework="net452" />
  <package id="CommandLineParser" version="2.0.275-beta" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="YamlDotNet" version="4.2.2" targetFramework="net452" />
  <package id="ZetaLongPaths" version="1.0.0.20" targetFramework="net452" />
</packages>